<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.scujcc.pricloud">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.MainActivity"></activity>
        <activity android:name=".Activities.SpManagerActivity" />
        <activity android:name=".Activities.UserInfoActivity" />
        <activity android:name=".Activities.RecycleBinActivity" />
        <activity android:name=".Activities.UserSetActivity" />
        <activity android:name=".Activities.DownloadActivity" />
        <activity android:name=".Activities.LoadActivity" />
        <activity android:name=".Adapter.ContentAdapter" />
        <activity android:name=".Activities.RegisterActivity" />
        <activity android:name=".Activities.PersonalActivity" />
        <activity android:name=".Activities.UploadActivity" />
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MyFilesActivity" />
    </application>

</manifest>